{{#if addNewAnswer}}
  <h2>Here are the Answers to the question: </h2>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Answer by: </label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="reply">Here's the answer: </label>
        {{input value=reply id="reply"}}
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>
      <button {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'showAnswerForm'}}> Click here to Add Answer </button>
{{/if}}
