<!-- product listing -->
<h2>Thank you for visiting our store.</h2>
<h4>
<span class="cost-helper">
  {{product-cost product}}
</span> {{product.name}}                       <span class="price">           ${{product.cost}}</span>
</h4>
<img src="{{product.image}}" alt="product"/>
 <br>
Description: {{product.description}}
 <br>


<button {{action 'addToCart' product}}>Add To Cart</button>
<hr>
