<li>
  <!-- {{#link-to 'question' question.id}} -->
  Choose the Topic: {{question.topic}} Question About {{question.title}} from {{question.name}}
  <!-- {{/link-to}} -->

  {{#if isDetailShowing}}
    <a
      {{question.detail}} {{action 'detailHide'}}>
    </a>
  {{else}}
      <button {{action 'detailShow'}}>Show Question's detail</button>
  {{/if}}
</li>
