<li>
  {{#link-to 'question' question.id}}{{question.topic}} Question: {{question.title}} from {{question.name}}
  {{/link-to}}

  {{#if isQuestionShowing}}
    <p {{question.title}} {{action 'questionHide'}}>
    </p>
  {{else}}
      <button {{action 'questionShow'}}>Show Question's detail</button>
  {{/if}}
</li>
