<li>
  {{#link-to 'question' question.id}}
  <h3>{{question.topic}} Topic</h3>   Q?: {{question.title}} from {{question.name}}
  {{/link-to}}

  {{#if isDetailShowing}}
    <p {{question.detail}} {{action 'detailHide'}}>
    </p>
  {{else}}
      <button {{action 'detailShow'}}>Detail</button>
  {{/if}}
</li>
