<li>
  {{#link-to 'question' question.id}}
  <h3>{{question.topic}} Topic</h3>   {{question-popularity question}} Q?: {{question.title}} from {{question.userName}}
  {{/link-to}}
  <br>
  {{#if isDetailShow}}
    <a href="#"
       {{action 'detailHide'}}>{{question.detail}}
    </a>
  {{else}}
    <button {{action 'detailShow'}}> Detail</button>
  {{/if}}
</li>
