<div class="border">
  <h1> Welcome to Siam Q &amp; A Message Board</h1>
</div>
<br>
<h2>If you got Questions, We have the answer!</h2>
<h3>We are here to help.</h3>
<h4>If we don't know the answer, we will make sure someone will! </h4>

<br>
<div class="border">
  <h2>Questions: </h2>
  <ul>
    {{#each model.questions as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </ul>
  {{new-question saveQuestion2="saveQuestion3"}}
  <!-- save2 is the action up to route handler, save3 is action up to firebase -->
</div>

<br>

<div class="border">
  <h2>Here are the Answers: </h2>
<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.reply}} - <img src="{{answer.image}}" alt="image"/>  - by {{answer.author}} </li>
  {{/each}}
</ul>
</div>
<br>
<div class="contact">
  {{#link-to 'about'}}About us{{/link-to}}
</div>
