<!-- PARENT ROUTE  -->
<h2>MADE IN THAILAND Store: </h2>

{{#each model as |product|}}
  {{#link-to 'store.product' product.id}}{{product.name}} price ${{product.cost}}
  {{/link-to}}

{{/each}}

<!-- Parent route need to add {{#link-to)) & also add outlet helper at the bottom -->
{{outlet}}

<!-- {{display-cart product=product}}
{{product-tile addToCart="addToCart"}} -->
